<!DOCTYPE html>
<html>

<head>
  <title>ISQA_5 | Stock Price </title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <div class="container">
  
  <header>
    <h1>
      Nasdaq Stock Price Checker
    </h1>
  </header>
  
  <hr>
  <div id="testui">
    <h2>Front-End:</h2>
    <h3>Get single price and total likes</h3>
    <form id="testForm2" class="border">
      <input type="text" name="stock" placeholder="GOOG" required="">
      <input type="checkbox" name="like" value="true"> Like?<br>
      <button type="submit">Get Price!</button>
    </form>
    <h3>Compare and get relative likes</h3>
    <form id="testForm" class="border">
      <input type="text" name="stock" placeholder="GOOG" required="">
      <input type="text" name="stock" placeholder="MSFT" required="">
      <input type="checkbox" name="like" value="true"> Like both?<br>
      <button type="submit">Get Price!</button>
    </form>
    <code id="jsonResult"></code>
  </div>
  <hr>
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="/public/script.js"></script>
    </div>
</body>

</html>
